$border-radius-wrapper: 10px;
$container-main-padding-vertical: 4vh;
$container-main-padding-horizontal: 12vw;
$container-card-height: calc(100vh - 2 * #{$container-main-padding-vertical});
$container-card-width: calc(100vw - 2 * #{$container-main-padding-horizontal});

@font-face {
  font-family: "New-Athletic";
  src: url("./fonts/New-Athletic.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Raleway", "Segoe UI", sans-serif;
  color: #3e4242;
}
.container-main {
  background: linear-gradient(
    60deg,
    hsl(160, 62%, 57%) 0%,
    hsl(170, 62%, 57%) 60%,
    hsl(180, 62%, 57%) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.container-card {
  background: linear-gradient(
    180deg,
    rgb(250, 242, 248) 0%,
    rgb(232, 242, 242) 60%,
    rgb(227, 236, 234) 85%
  );
  margin: $container-main-padding-vertical $container-main-padding-horizontal
    $container-main-padding-vertical $container-main-padding-horizontal;
  height: $container-card-height;
  display: flex;
  justify-content: center;
  border-radius: $border-radius-wrapper;
  box-shadow: 2px 3px 8px 0px #393b3b;
}
.wrap-login {
  padding: 4% 4% 4% 4%;
  flex: 2 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; //default
  align-items: center;
}
.wrap-img {
  flex: 3 0;
  display: inline-flex;
  justify-content: flex-end;
}
.loginpage-img {
  height: $container-card-height;
  height: 100%;
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0px $border-radius-wrapper $border-radius-wrapper 0px;
}
.title-header {
  font-family: "New-Athletic", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #303131;
  font-weight: 500;
  //-webkit-text-stroke: 1px black;
  //text-shadow: 1px 1px #363a3a;
  text-align: center;
  margin: 10px auto 30px auto;
  flex-basis: 20%;
}
.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
}

.wrap-inputs {
  margin: 20px;
}

.wrap-input-div {
  margin: 20px;
}

input {
  font-family: "Raleway", "Segoe UI", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.wrap-submit-btn {
  margin: 20px;
}

.submit-btn-login {
  background: #258b47;
  border: none;
  border-radius: 25px;
  color: #fff;
  display: block;
  height: 38px;
  width: 75px;
}

a:hover {
  color: #258b47;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 884px) {
  .loginpage-img {
    display: none;
  }
}
