$border-radius-wrapper: 10px;
$container-main-padding-vertical: 5vh;
$container-main-padding-horizontal: 14vw;
$container-card-height: calc(100vh - 2 * #{$container-main-padding-vertical});
$container-card-width: calc(100vw - 2 * #{$container-main-padding-horizontal});

@font-face {
  font-family: "New-Athletic";
  src: url("./fonts/New-Athletic.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./fonts/Poppins-Medium.ttf");
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family:  "Poppins-Regular", "Segoe UI", sans-serif;
  color: #3e4242;
}

.container-main {
  background: linear-gradient(
    60deg,
    hsl(160, 62%, 57%) 0%,
    hsl(170, 62%, 57%) 60%,
    hsl(180, 62%, 57%) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-card {
  background: rgb(244, 250, 249);
  margin: $container-main-padding-vertical $container-main-padding-horizontal
    $container-main-padding-vertical $container-main-padding-horizontal;
  height: $container-card-height;
  display: flex;
  justify-content: center;
  border-radius: $border-radius-wrapper;
  box-shadow: 2px 3px 8px 0px #393b3b;
}

.wrap-login {
  padding: 30px;
  flex: 2.2 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-img {
  flex: 4 0;
  display: inline-flex;
  justify-content: flex-end;
}
.loginpage-img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 0px $border-radius-wrapper $border-radius-wrapper 0px;
}
.title-header {
  font-family: "New-Athletic", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-decoration: underline;
  color: #303131;
  font-weight: 500;
  text-align: center;
  margin: 10px auto 20px auto;
}
.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

.wrap-inputs {
  margin: 20px;
}

.wrap-input-div {
  margin: 10px;
}

input {
  font-family: "Poppins-Medium", "Segoe UI", sans-serif;
  font-size: 14px;
  color: #303131;
  padding: 10px 20px 10px 20px;
  background: #c9c9c9;
  display: block;
  height: 40px;
  width: 250px;
  border-radius: 25px;
  line-height: 1.5;
  border: none;
}

.submit-btn-login{
  background: #f17d7d;
  border: none;
  border-radius: 25px;
  color: #fff;
  display: block;
  height: 38px;
  width: 150px;
  font-weight: bold;

  &:hover {
    background: #3e4242;
  }
}

.wrap-forgotten-pwrd {
  margin: 10px 0px 20px 0px;
}

.wrap-register {
  margin: 30px 0px 10px 0px;
  line-height: 1.5;
}

.register-link {
  font-size: 15px;
  font-weight: bold;
}

a:hover {
  color: #f17d7d;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 930px) {
  .wrap-img {
    display: none;
  }

  .wrap-login {
    padding: 40px 100px 40px 100px;
  }

}
